.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-size: 1.2rem;
}
.collapsed {
    color: black !important;
}
a:hover {
    color: black;
    text-decoration: none;
}
.accordion-section .panel-default .panel-title a:after {
    font-style: normal;
    font-size: 30px;
    content: "\0025B4";
    color: $brand-color;
    float: right;
    margin-top: 0px;
    background-color: transparent;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\0025BE";
}
.accordion-section .panel-default .panel-body {
    font-size: 1rem;
}
@media only screen and (max-width: 768px)  {
    .accordion-section .panel-default .panel-title a {
        font-size: 1rem;
}
.accordion-section .panel-default .panel-body {
    font-size: 1rem;
}
.panel {
    position: relative;
}
.accordion-section .panel-default .panel-title a:after {
    position: absolute;
    top: 30px;
    right: 10px;
    font-style: normal;
    font-size: 25px;
    content: "\0025B4";
    color: $brand-color;
    float: right;
    margin-top: 0px;
    background-color: transparent;
}
}
