
/* Homepage Header Section */

.header {
    background-image: url(/img/hero.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
}

.hero-content {
    position: absolute;
    top: 40%;
    max-width: 980px;
    p {
        color: white;
    }
    
    & .welcome-to {
        text-transform: uppercase;
        color: white;
    }

    & h1 {
        color: white;
        font-weight: 700;
    }

    & button {
        border-width: 2px;
        font-weight: bold;
    }
}
/* Homepage About Section */
.home__about {
    h2{
        color: white;
    }
    .about-img {
        border-radius: 100%;
    }
    &--desc {
        padding-left: 2rem;
    }
    .icon {
        color: $brand-color !important;
    }
}
/* Homepage Services Section */
.home__services {
    background-color: white;
    h3 {
        font-size: 1.4rem;
    }
    &--box {
        min-height: 488px !important;
    }
    &--textbox {
        padding: 10px 20px 30px 20px;
    }
}

/* Homepage Benefit Section */
.home__benefits-2 {
    margin-top: -390px;
    padding-top: 450px;
    margin: -390px auto 0 auto;
}
.about-img {
    max-width: 200px !important;
    border-radius: 100%;
}
.carousel-item {
    height: 600px !important;
}
/* Responsive Home */
@media only screen and (max-width: 768px)  {
    .header {
     height: 600px;   
    }
    .hero-content {
        max-width: 90%;
        top: 30%;
        h1 {
            font-size: 2.5rem;
        }
    }
    .home__services {
        &--heading {
            font-size: 2.0rem;
            padding-bottom: 1rem;
        }
        &--subheading {
            padding-bottom: 1rem;
        }
    }
    .home__benefits {
        &--heading {
            font-size: 2.0rem;
            padding-bottom: 1rem;
        }
        &--subheading {
            padding-bottom: 3.5rem;
        }
        padding-top: 0px;
        margin-top: 25px;
    }
    .home__benefits-2 {
        background-color: transparent;
        .row-1 {
            margin-bottom: 0px;
        }
        .row-2 {
            margin-top: 0px;
        }
    }
    .carousel-item {
        height: 900px !important;
    }
}