.service-row {
    display: flex;
    flex-direction: row;
}
.services__images {
    border-radius: 2px;
}
@media only screen and (max-width: 768px)  {
    .service-row {
        flex-direction: column-reverse;
    }
    .services__images {
        margin-bottom: 25px;
    }
}
