html, body {
    margin: 0;
    padding: 0;
    background-color: #222; /* Matches bg-black theme */
}

/* Ozzard Top Banner Styling */
.ozzard-top-banner {
    position: relative; /* Scrolls with page, pushes content down */
    width: 100%;
    background-color: #ffffff;
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    z-index: 10001;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    border-bottom: 1px solid #e5e7eb;
}

.ozzard-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ozzard-link {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none !important;
    color: #333 !important;
    flex-wrap: wrap;
    justify-content: center;
}

.ozzard-link:hover, .ozzard-link:visited, .ozzard-link:active {
    color: #333 !important;
    text-decoration: none !important;
}

.ozzard-logo-img {
    height: 48px; /* Adjusted height for better visibility */
    width: auto;
    object-fit: contain;
}

.ozzard-msg {
    font-weight: 400;
    color: #333 !important;
}

.ozzard-cta {
    font-weight: 700;
    text-decoration: underline;
    color: #333 !important;
}

.ozzard-close {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
    color: #666 !important;
    padding: 0 0 0 15px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

.ozzard-close:hover {
    color: #000;
}

@media (max-width: 768px) {
    .ozzard-link {
        gap: 5px;
        flex-direction: column;
        text-align: center;
        padding-right: 20px;
    }
    .ozzard-msg {
        display: none; /* Hide tagline on very small screens to save space */
    }
}

.thankyou {
    height: 85vh;

}
.translate {
    background-color: #222;
    padding: 0px;
    transition-duration: 300ms;
}
.translate:hover {
    background-color: white;
}
.translate a {
color: white;
}
.translate:hover a {
    color: #222;
}
.bg-black {
    background-color: #222;
}
.bg-brand {
    background-color: $brand-color;
}
.credit {
    padding-top: 20px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid white;
    text-align: left;
}
.hours {
    list-style: none;
    padding-left: 0px;
}
.nav-link {
    color: black;
    font-weight: 700;
    font-size: 20px;
}
.nav-link:hover {
    color: $brand-color;
}

.nav-logo {
    max-width: 125px;
}
.navbar {
    position: relative;
}
.navbar-brand {
    padding: 8px 13px;
}
.brand-color {
    color: $brand-color !important;
}
.uppercase {
    text-transform: uppercase;
}
.overlay {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.45);
}
.subheader {
    background-image: url(/img/hero.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: initial;;
    height: 400px;
    padding-top: 45px;
}
.bg-footer {
    background-color: #333;
}
.fill-brand {
    fill: $brand-color;
    width: 28px;
    height: 28px;
}
.fill-brand:hover {
    fill: white;
}
.carousel-indicators li {
    background-color: $brand-color;
}
.sub-content {
    position: absolute;
    top: 48%;
    color: white;
}
.divider {
    margin: 65px auto;
    height: 1px;
    background-color: $brand-color;
    width: 50%;
}
h1,h2,h3,h4 {
    font-family: "Montserrat";
    font-weight: 700 !important;
}
h1 {
    text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
}
.footer__highlight u {
    color: white !important;
}
.footer__highlight u:hover {
    color: $brand-color !important;
}
.credit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.credit-box1 {
    display: flex;
    flex-direction: row;

    p {
        padding-left: 8px;
    }
}
.responsiveWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 3px;
	height: 0;
}
.responsiveWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media only screen and (max-width: 768px)  {
    .display-4 {
        font-size: 1.5rem !important;
    }
    h2 {
        font-size: 1.5rem;
    }
    .display-5 {
        font-size: 1.5rem !important;
    }
    .sub-content {
        padding-left: 3% !important;
    }
    section {
        padding-left: 3% !important;
        padding-right: 3% !important;
    }
    .credit {
        text-align: center;
    }
    .footer__links {
        text-align: center;
    }
    .footer__box {
        padding: 0 20px 40px 20px;
    }
    .subheader {
        background-image: url(/img/hero.jpg);
        background-position: bottom;
        background-size: cover;
        background-attachment: initial;
        height: 350px;
    }
    .businessquote {
        font-size: 25px;
    }
    .credit {
        flex-direction: column;
    }
    .credit-box1 {
        flex-direction: column;
    }
}
