<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
    {{- partial "meta.html" . -}}
    {{- partial "schema.html" . -}}
    {{- partial "head.html" . -}}
    </head>
    <body>
        {{- partial "preloader.html" . -}}
        {{- partial "nav.html" . -}}
        {{- partial "header.html" . -}}
        <div id="content">
        <a alt="Scroll to top" href="#" id="scroll" style="display: none;"><span></span></a>
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-f1465928-e471-4f95-ab3a-be707d429694" data-elfsight-app-lazy></div>
    </body>
    <script>
  window.Userback = window.Userback || {};
  Userback.access_token = 'P-uHmAAlapQCpsBBd7vOAtnJrmT';
  // identify your logged-in users (optional)
  Userback.user_data = {
    id: "123456", // example data
    info: {
      name: "someone", // example data
      email: "someone@example.com" // example data
    }
  };
  (function(d) {
    var s = d.createElement('script');s.async = true;
    s.src = 'https://static.userback.io/widget/v1.js';
    (d.head || d.body).appendChild(s);
  })(document);
</script>
    
</html>


