<section class="bg-brand py-8">
    <div class="container">
    <h3 class="text-white display-4 text-center text-uppercase businessquote">{{ $.Site.Params.greatquote }}</h3>
</div>
</div>
</section>   
<footer class="bg-black">
    <section class="footer__links container text-white pt-8">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 pb-1">
                <div class="footer__box">
                <h3 class="pb-1">{{ $.Site.Params.businessname }}</h3>
                <p>{{ i18n "tagline" }}</p>
                <a href="{{ $.Site.Params.facebookurl}}" class="socialicon">
                <svg class="fill-brand">
                    <use xlink:href="{{ $.Site.BaseURL }}img/brands.svg#facebook-square"></use>
                  </svg>
                </a>
            </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 pb-1">
                <div class="footer__box">
                <h3 class="pb-1">Contact</h3>
                <address>
                    {{ $.Site.Params.address }}<br>
                    {{ $.Site.Params.city }}, {{ $.Site.Params.region }}<br>
                    {{ $.Site.Params.postalcode }}, {{ $.Site.Params.country }}<br>
                    </address>
                    <strong>{{ i18n "phone" }}:</strong>
                    <a class="footer__highlight" href="tel:{{ $.Site.Params.phone }}"><u>{{ $.Site.Params.phone }}</u></a><br>
                    <strong>{{ i18n "email" }}:</strong>
                    <a class="footer__highlight" href="mailto:{{ $.Site.Params.email }}"><u>{{ $.Site.Params.email }}</u></a>
            </div>
        </div>
            <div class="col-lg-4 col-md-4 col-sm 12 pb-1">
                <div class="footer__box">
                <h3 class="pb-1">{{ i18n "hours" }}</h3>
                <li class="pt-1">Mon - Fri <strong>8AM - 5PM</strong></li>
                <li class="pt-1">Saturdays <strong>9AM - 3PM</strong></li>
                <li class="pt-1">Sunday - <strong>CLOSED</strong></li>
                <li class="pt-1">STAT Holidays - <strong>CLOSED</strong></li>
                </ul>
            </div>
        </div>
        </div>
    </section>
    <div class="container">
        <div class="text-white credit">
            <div class="credit-box1">
            <div>
                  <p>Handcrafted with ❤️ by <a href="https://www.supersonicsites.com/" class="origin">Supersonic Sites®</a></p>
            </div>
            <div>
                <p>Copyright © <span id="year"></span></p>
            </div>                
            </div>
            <div class="credit-box2">
                <div><a class="footer__highlight" href="/privacy-policy">
                    <u>Privacy Policy</u></a>
                    <a href="https://www.uric.ca/?ubwc=tAwyWnWOX1lBjM29i3H334195-65727">🛠️</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{{ $.Site.BaseURL }}js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" async></script>
    {{ $scripts := resources.Get "js/bootstrap.bundle.min.js" }}
    <script type="text/javascript" src="{{ ($scripts | minify | fingerprint).RelPermalink }}" async></script>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7F77PB"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
<script>
window.Userback = window.Userback || {};
Userback.access_token = 'P-uHmAAlapQCpsBBd7vOAtnJrmT';
// identify your logged-in users (optional)
Userback.user_data = {
id: "123456", // example data
info: {
name: "someone", // example data
email: "someone@example.com" // example data
}
};
(function(d) {
var s = d.createElement('script');s.async = true;s.src = 'https://static.userback.io/widget/v1.js';(d.head || d.body).appendChild(s);
})(document);
</script>
</footer>
<!-- Display Current Year in Footer -->
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('year').textContent = new Date().getFullYear();
    });
</script>
